/*style for webpage body*/
body {
    font-family: arial, sans-serif;
    background-color: #c6c6c6;
    margin: 0;
    padding: 0;
}

/*centers main container and pads*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*shared style for buttons and inputs*/
input, button{
    padding: 8px;
    margin: 5px;
    border: 1px solid #dadace;
    border-radius: 4px;
}

/*button style*/
button{
    background-color: #fbff00;
    color: #b3b300;
    border: none;
    cursor: pointer;
}

/*button hover effect*/
button:hover{
    color: #e9e980;
    background-color: #b3b300;
}

/*metric grid style*/
.metric-grid, .log-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/*style for metric cards*/
.metric-card, .log-card{
    background-color: #f3f3eb;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #c9c9c9;
}

/*style for metric values*/
.metric-value, .log-value{
    font-size: 24px;
    font-weight: bold;
    color: #161616;
}

.metric-value.healthy {
    color: green;
    font-weight: bold;
}

.metric-value.unhealthy {
    color: red;
    font-weight: bold;
}



