/*style for webpage body*/
body {
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*centers main container and pads*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*shared style for buttons and inputs*/
input, button{
    padding: 8px;
    margin: 5px;
    border: 1px solid #dadace;
    border-radius: 4px;
}

/*fetch btn style*/
button{
    background-color: #fff025;
    color: #f4f4f4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/*button hover effect*/
button:hover{
    color: #fff025;
}

/*fetched api data container style*/
#dataContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;    
}