/*style for webpage body*/
body {
    font-family: arial, sans-serif;
    background-color: #161616;
    margin: 0;
    padding: 0;
}

/*centers main container and pads*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*shared style for buttons and inputs*/
input, button{
    padding: 8px;
    margin: 5px;
    border: 1px solid #dadace;
    border-radius: 4px;
}

/*metric grid style*/
.metric-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/*style for metric cards*/
.metric-card{
    background-color: #dadace;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #a6a6a6;
}

/*style for metric values*/
.metric-value{
    font-size: 24px;
    font-weight: bold;
    color: #161616;
}

/*button style*/
button{
    background-color: #fff025;
    color: #f4f4f4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/*button hover effect*/
button:hover{
    color: #fff025;
}

/*fetched api data container style*/
#dataContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;    
}